@import "tailwindcss";

:root {
	--black: rgba(27, 30, 36, 1);
	--white: #ffffffff;
	--orange: #ff7b00;
	--primary-color: var(--black);
	--secondary-color: var(--orange);
	--accent: var(--orange);
	--text-primary: var(--white);
	--text-secondary: var(--orange);
}

body {
	background-color: var(--black);
}

main {
	color: var(--white);
}