---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import companyLogo from '../../public/landworks-color.png';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Header /> -->
		<main>
			<div class="icon">
				<Image src={companyLogo} alt="Landworks Logo" />
				<h1>Contact Us for Quote</h1>
				<a href="tel:+1-508-966-7135">508-966-7135</a>
				<a href="mailto:chad@desiletslandworks.com">chad@desiletslandworks.com</a>
			</div>
			<div class="socials">
				<a><i>Instagram</i></a>
			</div>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
